body,ul,li{
    padding:0;
    margin:0;
}

li{
    list-style-type: none;
}

ul{
    font-size: 27px;
}

.wrapper{
    background-color: aqua;
    width:500px;
    margin:0 auto;
    font-size:32px;
}

.list li{
    margin-bottom: 1em;
}